@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	font-size: 62.75%;
	-webkit-text-size-adjust: none;
	height: 100%;
}
body {
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	color: #333;
	background: #fff;
	width: 100%;
	height: 100%;
}
img {
	border: none
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #222;
}


.index{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: url(../images/bg0.jpg);
	background-size: cover;
	background-position: center;
}
.index-title{
	width: 50%;
}
.index-list{
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
  margin-top: 4rem;
}
.index-list li{
	display: inline-block;
	writing-mode: tb-rl;
}


.nav{
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  z-index: 2;
}
.nav img{
  height: 10rem;
  padding: 2rem 0;
}
.nav_top{
  background-color: #f5f5f5;
  padding-top: 16px;
}
.nav_bar{
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 24px 0;
}
.nav_bar li{
  padding: 16px 8px;
  text-align: center;
  font-size: 20px;
}
/*.nav_bar li.active{
  border: 2px solid #666;
}*/
.nav_bar li img{
  width: 48px;
}
.tab-box{
  display: none;
}
.go_top{
  background-color: #f5f5f5;
  border-radius: 8px;
  color: #666;
  font-size: 14px;
  padding: 4px 16px 10px;
  position: fixed;
  right: 48px;
  bottom: 48px;
  text-align: center;
}
.go_top img{
  width: 16px;
}
.bottom{
  background-color: #000;
  padding: 5rem 0;
  color: #fff;
  font-size: 5rem;
}
.bottom_content{
  max-width: 100rem;
  margin: auto;
  text-align: right;
}
.bottom img{
  height: 3rem;
}
.bottom .name{
  height: 8rem;
}

.hover_btn {
  padding: 3rem 0px;
  border: none;
  background: transparent;
  color: #333;
  width:auto;
  position:relative;
  line-height: 3rem;
  cursor:pointer;
}
.hover_btn span {
  position: absolute;
  background-color: #666666;
  display: block;
  transition: all 500ms;
}
.hover_btn .line1,
.hover_btn .line3 {
  height: 2px;
  width: 20px;
}
.hover_btn .line2,
.hover_btn .line4 {
  height: 20px;
  width: 2px;
}
.hover_btn .line1,
.hover_btn .line2 {
  top: 0;
  right: 0;
}
.hover_btn .line3,
.hover_btn .line4 {
  bottom: 0;
  left: 0;
}
.hover_btn.reverse .line1,
.hover_btn.reverse .line3 {
  width: 100%;
}
.hover_btn.reverse .line2,
.hover_btn.reverse .line4 {
  height: 100%;
}
.hover_btn:hover,
.hover_btn:active {
  background-color: transparent;
  color: #333;
}
.hover_btn:hover .line1,
.hover_btn.active .line1,
.hover_btn:hover .line3,
.hover_btn.active .line3 {
  width: 100%;
}
.hover_btn:hover .line2,
.hover_btn.active .line2,
.hover_btn:hover .line4,
.hover_btn.active .line4 {
  height: 100%;
}
.hover_btn:hover.reverse .line1,
.hover_btn.active.reverse .line1,
.hover_btn:hover.reverse .line3,
.hover_btn.active.reverse .line3 {
  width: 20px;
}
.hover_btn:hover.reverse .line2,
.hover_btn.active.reverse .line2,
.hover_btn:hover.reverse .line4,
.hover_btn.active.reverse .line4 {
  height: 20px;
}


.index-content{
  padding-bottom: 5rem;
  text-align: center;
}
.content{
	max-width: 100rem;
	margin: auto;
	overflow: hidden;
}
.content .sub_title{
  font-size: 24px;
  margin: 80px 0 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}
.content .sub_title.sub_title_img{
  padding-bottom: 14px;
}
.content .sub_title span{
  border-bottom: 3px solid #666;
  padding-bottom: 16px;
}
.content .sub_title span img{
  width: 40px;
  margin-right: 8px;
  vertical-align: -10px;
}
.content img{
	width: 100%;
}

.parallax{
    height: 40rem;
    background-image: url(../images/bg1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 2rem;
    line-height: 3rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax p{
  max-width: 60rem;
  text-align: center;
}

.start_page,.guide_page{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.start_page li{
  width: 21%;
  padding: 0 2%;
  margin: 3rem 0;
}
.start_page li img{
  border-radius: 2rem;
  box-shadow: 0 0 .8rem rgba(0,0,0,0.4);
  transition: all .2s;
}
.start_page li:hover img{
  box-shadow: 0 0 1.4rem rgba(0,0,0,0.2);
  transform: scale(1.1);
}
.drawing_small{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.drawing_small li{
  width: 30%;
  margin-bottom: 8rem;
  text-align: center;
}
.drawing_small li img{
  height: 24rem;
  width: auto;
}
.drawing_medium{
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.drawing_medium li{
  height: 500px;
}
.drawing_medium img{
  width: auto;
  height: 100%;
}


.app_content img{
	width: 100%;
}
.app_content ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app_content ul li{
  width: 21%;
  padding: 0 2%;
  margin: 3rem 0;
}
.app_content ul li img{
  border-radius: 1rem;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.2);
}

.icon_page{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 4rem;
}
.icon_page li{
	width: 20%;
	margin: 0 2%;
	margin-bottom: 2rem;
	position: relative;
	border-radius: 1rem;
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	transition: all .6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	text-align: center;
}
.icon_page li > div{
	background: #fff;
	padding: 1rem 0;
}
.icon_page li img{
	width: 40%;
}
.icon_hover{
	position: absolute;
	width: 100%;
	top: 0;
	transform: perspective(600px) rotateX(180deg);
}
.icon_normal{
	position: relative;
  transform: translate3d(0,0,.1rem);
}
.icon_page:hover li{
	transform: rotateX(180deg);
}
.icon_more{
	display:flex;
	align-items: center;
}
.icon_more img{
	width: 50%;
}

.web_page{
	display: flex;
	justify-content: space-between;
}
.web_page li{
	height: 1200px;
	margin-bottom: 3rem;
}
.web_page li img{
	width: auto;
	height: 100%;
}
